@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&family=Source+Sans+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

.sidebar {
    position: absolute;
    background-color: rgb(145, 145, 145);

    /* width: 434px; */
    font-family: 'Fira Sans', sans-serif;
    height: 100vh;
    transition: transform 0.3s ease-in;
}

.sidebar nav {
    padding: 45px
}

.sidebar nav li {
    list-style: none;
    font-size: 30px;
    padding: 33px 0;
}

.sidebar nav li a{
    text-decoration: none;
    color: white;
}

.main {
    /* background-color: yellow; */
    min-width: 90vw;
}

.container {
    display: flex;
}

.infocontainer {
    /* background-color: rgb(241, 9, 191); */
    height: 78vh;
    max-width: 82vw;
    max-width: 140px auto;
    display: flex;
    justify-content: space-around;
}

.devinfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Sans Pro', sans-serif;
}

.hello {
    font-size: 65px;
    font-family: 'Source Sans Pro', sans-serif;
}

.name {
    font-size: 50px;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;

}

.about {
    font-size: 40px;

}


.devpic img {
    max-width: 266px;
    padding-top: 50px;
}

.btn {
    margin-top: 34px;

}
.btn-sm {
    font-size: 14px;
    padding: 10px 19px;
    margin: 12px 0;
}

.btn {
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: aqua;
    font-weight: bold;
    font-size: 21px;
    margin: 0 3px;
    cursor: pointer;
}

.btn:hover {
    background-color: white;
    color: aqua;
}

.devpic img {
    height: 58vh;
}
.contactform  {
    font-family: 'Fira Sans', sans-serif;
    padding: 0 34px;
    padding-top: 144px;
   
}
.contactform h1{
    font-family: 'Source Sans Pro', sans-serif;
    padding: 12px 0;
}

.contactform div {
    padding: 10px 0;
    display: flex;
    flex-direction: column;

}
.contactform div input {
   width: 30vw;
   border-radius: 5px;
   margin: 6px 0 0 0;
   padding: 3px;
}
#emailHelp {
    font-size: 11px;
    color: midnightblue;
    margin: 0 5px;
    padding: 3px 0 0 0;
}
#form-check  {
    flex-direction: row;
}

#form-check input{
    width: 24px;
    margin: 3px 0;
}
.blogitem {
    margin: 20px;
    font-family: 'Fira Sans', sans-serif;
}
.h1 {
    font-family: 'Fira Sans', sans-serif;
    margin: 23px;
}

.p {
    font-family: 'Source Sans Pro', monospace;
}
.intro h2 {
    font-family: 'Fira Sans', sans-serif;
    margin: 12px;
}

.intro p {
    font-family: 'Source Sans Pro', monospace;
    margin: 12px;
}

.skillcontainer {
    padding: 12px;
}
.skillitem {
    font-family: 'Source Sans Pro', monospace;
    display: flex;
    align-items: center;
    font-weight: 900;
}
.skill{
    
    width: 200px;
    height: 10px;
    border: 2px solid black;
    background-color: red;
}
.hundered{
    width: 265px;
}
.fifty{
    width: 190px;

}

.t5{
    width: 120px;
}

.sidebarGo{
    transform: translate(-443px, 0px);
    position: absolute;
}
.hamburger {
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}
.ham {
    margin-top: 10px;
}
.cross{
    margin-left: 155px;
    margin-top: 8px;

}

@media (max-width: 1000px) {
    *{
        /* background-color: rgb(253, 124, 124); */
    }
    .devpic{
        display: none;
    }
     /* .sidebar{
        transform: translate(-443px, 0px);
        position: absolute;
     } */
}
