@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&family=Source+Sans+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: rgb(145, 145, 145);

    width: 434px;
    font-family: 'Fira Sans', sans-serif;
    height: 100vh;
}

.sidebar nav {
    padding: 45px
}

.sidebar nav li {
    list-style: none;
    font-size: 30px;
    padding: 33px 0;
}

.sidebar nav li a{
    text-decoration: none;
    color: white;
}

.main {
    /* background-color: yellow; */
    min-width: 90vw;
}

.container {
    display: flex;
}

.infocontainer {
    /* background-color: rgb(241, 9, 191); */
    height: 78vh;
    max-width: 82vw;
    max-width: 140px auto;
    display: flex;
    justify-content: space-around;
}

.devinfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Sans Pro', sans-serif;
}

.hello {
    font-size: 65px;
    font-family: 'Source Sans Pro', sans-serif;
}

.name {
    font-size: 50px;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;

}

.about {
    font-size: 40px;

}


.devpic img {
    max-width: 266px;
}

.buttons {
    margin-top: 34px;

}

.buttons button {
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: aqua;
    font-weight: bold;
    font-size: 21px;
    margin: 0 3px;
    cursor: pointer;
}

.buttons button:hover {
    background-color: white;
    color: aqua;
}

.contactform {
    padding: 0 35px;
    padding-top: 144px;
    font-family: 'Fira Sans', sans-serif;
    
}

.contactform h1 {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}

.contactform div {
    padding: 27px 0;
}